.main-container {
    display: flex;
    padding: 15px;
    flex-direction: row;
}

.item-list {
    flex-grow: 2;
    margin-top: 0;
    flex-wrap: wrap;
}
.filter-section {
    flex-grow: 1;
}

h1 {
    flex-grow: 2;
}