img {
    height: 200px;
}

section {
    display: flex;
}

.users-section {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.owner-section , .buyer-section {
    border: 1px solid black;
    min-height: 300px;
   
}

.chat {
    border: 1px solid black; 
    flex: 1; 
}

.user-items-container {
    display: flex;

}

.user-items-container img {
    height: 200px;
    margin:10px;
}

.close-deal-btn{
    height: 50px;
    width: 80px;
    background-color: green;
    color: white;
}

.active{
    opacity: 1;
    
}
.not-active{
    opacity: 0.4;
}