@import '../setup/functions.scss';
@import '../setup/_variables.scss';


.hide {
    display: none;
}


.item,
.suggested-item {
    height: rem(100px);
    width: rem(100px);
}

.suggested-item {
    border-radius: rem(5px);
}

section {
    display: flex;
    max-width: rem(960px);
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

.users-section {
    max-height: 100vh;
    padding-top: rem(20px);
    display: flex;
    flex-direction: column;
    flex: 2;
}

.owner-section {
    //border: 1px solid black;
    min-height: rem(500px);
    border: 1px solid $clr1;
    padding: rem(20px);
    border-radius: rem(5px);
    box-shadow: 0px rem(13px) rem(23px) -12px rgba(0, 0, 0, 0.5);
}

.owner-arena-area {
    display: flex;
    flex-direction: column;
}

.owner-arena-area-items {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.suggested-items-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: rem(10px);
}

// .suggested-items-container :first-child {
//     grid-column: 1 / -1;
// }

.barter-arrow {
    min-height: rem(500px);
    display: flex;
    align-items: center;
}

.barter-arrow img {
    width: rem(100px);
}

.chat-area {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    margin: 0 auto;
    height: rem(25px);
}

.open-chat {
    cursor: pointer;
    border-right: 1px solid $btn2;
    border-left: 1px solid $btn2;
    border-bottom: 1px solid $btn2;
    border-radius: 0 0 rem(5px) rem(5px);
    padding: 0 rem(10px) rem(5px) rem(10px);
    background-color: $btn1;
    color: $clr7;
    font-weight: 700;
    box-shadow: 0px rem(13px) rem(23px) -12px rgba(0, 0, 0, 0.5);
}

.chat-area span {
    color: $clr7;
    font-size: 15px;
    cursor: pointer;
}

.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $btn1;
    height: 25px;
    color: $clr7;
    padding: 5px;
    font-weight: 700;
    box-shadow: 0px 5px 12px 6px rgba(0,0,0,0.07);
}

.chat {
    background-color: #fff;
    position: absolute;
    z-index: 1000;
    width: 400px;
    border-right: 1px solid $btn2;
    border-left: 1px solid $btn2;
    border-bottom: 1px solid $btn2;
    border-radius: 0 0 5px 5px;
}

h2 {
    width: 100%;
}

.owner-item {
    height: rem(200px);
    border-radius: rem(5px);
}

.owner-title {
    margin-bottom: rem(10px);
}

.user-items {
    margin-right: rem(20px);
    width: 190px;
}

.user-items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.user-items-container img {
    height: 100px;
    margin: 10px;
}

.close-deal-btn {
    height: 50px;
    width: 80px;
    background-color: green;
    color: white;
}

.img-container img {
    cursor: pointer;
}

.img-container {
    position: relative;
    display: flex;


}

.done {
    position: absolute;
    height: 77%;
    left: 22%;
    z-index: 1000;
}

.img-container .selected {
    position: absolute;
    height: 45px;
    right: 0;
}

.active {
    filter: grayscale(200%) blur(3px) opacity(80%);

}




// -------------------------------------------------------------



.hvr-glow {
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transition-duration: 0.3s;
    transition-property: box-shadow;
}

.hvr-glow:hover,
.hvr-glow:focus,
.hvr-glow:active {
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.6);
}

.hr {
    margin-top: rem(25px);
    margin-bottom: rem(25px);
    height: 1px;
    color: $clr4;
    width: 80%
}