// Colors
//Primary
$clr1: #333964;
$clr2: #505581;
$clr3: #607bee;

//Secondary
$clr4: #8c90b2;
$clr5: #d0dbfe;
$clr6: #e2e9ff;
$clr7: #f9faff;

//Gray scale
$white: #ffffff;
$gray1: #e6e6e6;
$gray2: #98999f;
$gray3: #9a9ba4;
$gray4: #515258;



