.form {
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
 }

 header {
    flex-direction: row;
    justify-content: space-between;
    background-color: #505581;
    height: 80px;
    box-shadow: 1px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    padding-top: 10px;
 }

 header .nav-bar {
    flex-grow: 2;
 }

 .user-menu {
    margin-right: 10px;
    display: flex;
 }

 .nav-bar {
    justify-content: flex-end;
    font-family: 'Roboto';
    font-weight: 300;
 }

 .nav-bar ul {
    display: flex;
    padding-left: 0px;
    padding-inline-start: 0px;
    list-style-type: none;
    color: #fff;
 }

 .nav-bar ul li {
    cursor: pointer;
    font-size: 22px;
    margin-right: 20px;
 }

 .flex {
    display: flex;
 }

 .login-area {
    margin-top: 15px;
 }

 .login {
    justify-items: initial;
    z-index: 1000;
 }

 .logo {
    font-family: 'Arciform', sans-serif;
    font-size: 35px;
    color: #fff;
    cursor: pointer;
 }

 header .logo {
    margin-top: 12px;
    margin-left: 10px;
 }

 .user-avatar {
    cursor: pointer;
 }