@import '../setup/_functions.scss';
@import '../setup/_variables.scss';

.main-container {
    max-width: 1260px;
    margin: 0 auto;
}
.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-row-gap: rem(15px);
    margin-top: rem(20px);
    justify-items: center;
    justify-self: center;
}