 .form {
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
 }

 header .main-nav-bar {
    flex-grow: 2;
 }

 .user-menu {
    margin-right: 10px;
    display: flex;
 }

 .main-navbar-user {
    justify-content: flex-end;
    font-family: 'Roboto';
    font-weight: 300;
 }

 .main-navbar-user ul {
    display: flex;
    padding-left: 0px;
    padding-inline-start: 0px;
    list-style-type: none;
    color: #fff;
 }

 .main-navbar-user ul li {
    cursor: pointer;
    font-size: 22px;
    margin-right: 20px;
 }

 .main-navbar-user ul li:hover {
   border-bottom: 1px solid #fff;
   padding-bottom: 3px;
}

 .flex {
    display: flex;
 }

 .login-area {
    margin-top: 15px;
 }

 .login {
    justify-items: initial;
    z-index: 1000;
 }

 .user-avatar {
    cursor: pointer;
 }