.item {
    position: relative;
    
}

.card-image {
    cursor: pointer;
}

.delete {
    color: white;
    padding: 5px;
    position: absolute;
    top: 1px;
    height: 30px;
    width: 30px;
    background-color: red;
    border:1px solid black;
    right: 0

}
.trending {
    position: absolute;
    top: -1px;
    height: 50px;
    left: -20px;
}



